<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>LOGIN PAGE</h1>
    <form method='post' action=".">
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" name="username"><br>

        <label for="password">password</label>
        <input type="password" name="password"><br>
        <div>
            {% for message in messages%}
            {{message}}
            {% endfor %}
        </div>
        <button type="submit">login</button>

        <p>Create an account if you dont have any</p>
        <button><a href="{% url 'mainapp:signup' %}">signup</a></button>
    </form>
</body>
</html>